#page11 {
    background: url("../../images/wckf017/11/背景.jpg");
}

.page11-first-letter-img {
    top: 0;
    left: 57px;
    width: 525px;
    height: 29px;
}

.page11-btn-img {
    top: 50px;
    left: 207px;
    width: 226px;
    height: 107px;
}

.page11-share-meeting-img {
    top: 180px;
    width: 642px;
    height: 759px;
}

/*.page11-heart-img {
    width: 28px;
    height: 25px;
}

.page11-solid-heart-img {
    width: 24px;
    height: 21px;
}*/

.page11-business-card-ranking {
    top: 950px;
    left: 190px;
    width: 259px;
    height: 57px;
}