#page11 {
    background: url("../../images/wckf017/11/背景.jpg");
}

#page11 .rt-content {
    overflow-x: hidden;;
    overflow-y: auto;
}

.page11-first-letter-img {
    top: 0;
    left: 57px;
    width: 525px;
    height: 29px;
}

.page11-btn-img {
    top: 50px;
    left: 207px;
    width: 226px;
    height: 107px;
}

.page11-share-meeting-img {
    top: 180px;
    width: 642px;
    height: 749px;
}

/*.page11-heart-img {
    width: 28px;
    height: 25px;
}

.page11-solid-heart-img {
    width: 24px;
    height: 21px;
}*/

.page11-business-card-ranking {
    top: 950px;
    left: 190px;
    width: 259px;
    height: 57px;
}

.page11-card-rating-list {
    top: 1020px;
    left: 20px;
    right: 20px;
    color: #fff;
    background-color: #4399bc;
}

.row {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: 0 auto;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.row-odd {
    background: #5AAFCE;
}

.cell_1, .cell_2, .cell_3, .cell_4 {
    float: left;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
}

.cell_1, .cell_2, .cell_3 {
    border-right: 1px solid #fff;
}

.cell_1 {
    width: 15%;
}

.cell_2 {
    width: 35%;
}

.cell_3 {
    width: 20%;
}

.cell_4 {
    width: 30%;
}

.list-head {
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}

.cell-heart-img {
    width: 24px;
    vertical-align: middle;
}

.cell4-praise-sum {
    display: inline-block;
    margin-left: 10px;
}