
.absolute {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}

@keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}



#page1 {
    background: url("../../images/wckf017/1/背景.jpg");
}

.page1-title-img {
    top: 30px;
    left: 30px;
    width: 579px;
    height: 394px;
}

.page1-jin-zheng-en-img {
    bottom: 0;
    right: 30px;
    width: 423px;
    height: 220px;
}

.page1-whereby-1 {
    opacity: 0;
    left: 30px;
    top: 375px;
    width: 213px;
    height: 137px;
}

.page1-whereby-2 {
    left: 40px;
    top: 500px;
    width: 250px;
    height: 205px;
}

.page1-whereby-3 {
    left: 280px;
    top: 370px;
    width: 273px;
    height: 120px;
}

.page1-listen-to-you-1 {
    left: 390px;
    top: 430px;
    width: 227px;
    height: 225px;
}

.page1-listen-to-you-2 {
    left: 250px;
    top: 650px;
    width: 140px;
    height: 37px;
}