* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page.in {
    display: block;
    visibility: visible;
}

.page.out {
    display: block;
    visibility: hidden;
}

.logo-footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
}

.pt-page-moveIconUp {
    -webkit-animation: moveIconUp ease 1.5s both infinite;
    animation: moveIconUp ease 1.5s both infinite;
}

.absolute {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}

@keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 8deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -6deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 3deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 8deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -6deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 3deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}

#page1 {
    background: url("../../images/wckf017/1/背景.jpg");
}

.page1-title-img {
    top: 30px;
    left: 30px;
    width: 579px;
    height: 394px;
}

.page1-jin-zheng-en-img {
    bottom: 0;
    right: 30px;
    width: 423px;
    height: 220px;
}

.page1-whereby-1 {
    left: 30px;
    top: 375px;
    width: 213px;
    height: 137px;
}

.page1-whereby-2 {
    left: 40px;
    top: 500px;
    width: 250px;
    height: 205px;
}

.page1-whereby-3 {
    left: 280px;
    top: 370px;
    width: 273px;
    height: 120px;
}

.page1-listen-to-you-1 {
    left: 390px;
    top: 430px;
    width: 227px;
    height: 225px;
}

.page1-listen-to-you-2 {
    left: 250px;
    top: 650px;
    width: 140px;
    height: 37px;
}