* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page.in {
    display: block;
    visibility: visible;
}

.page.out {
    display: block;
    visibility: hidden;
}

.logo-footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
}

.scroll-down-icon {
    -webkit-animation: moveIconDown ease 1.5s both infinite;
    animation: moveIconDown ease 1.5s both infinite;
}

.pt-page-moveIconUp {
    -webkit-animation: moveIconUp ease 1.5s both infinite;
    animation: moveIconUp ease 1.5s both infinite;
}

.hidden {
    display: none;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

.scroll-down-tip-icon {
    margin: 0 auto;
    width: 25px;
    height: 17px;
    bottom: 20px;
}

@-webkit-keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}

@keyframes zoomOut {
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    from {
        opacity: 0;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 8deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -6deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 3deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 8deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -6deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 3deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes moveIconUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes moveIconDown {
    100% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
    0% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes moveIconDown {
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}