.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #f65e5b;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	width:100px;
	height:30px;
	line-height:30px;
}
.webuploader-pick-hover {
	background: #f65e5b;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

